/* .register{
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    background-color: #2e86c1 ;
    border-radius: 10px;
}
.encabezado-register{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    margin-bottom: 15px;
    margin-top: 10px;
}
.register-form{
    margin-top: 10px;
    gap:10px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
} */